.navbar {
    display: flex;
    width: 100%;
    /* border: 1px solid red; */
    padding: 10px;
    /* background-color: #faf9fa; */
    /* box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px; */
    height: 60px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
   
  }
  
  .logo_navbar {
    width: 100%;
  }
  
  .logobox {
    display: flex;
    width: 210px;
    height: 50px;
    margin-left: 50px;
    /* border: 1px solid red; */
    align-items: center;
  }
  
  .ButtonBox {
    display: flex;
    justify-content: flex-end;
    column-gap: 20px;
    width: auto;
    margin-right: 100px;
    font-family: "Lato", sans-serif; 
    /* border: 1px solid red; */
  }
  
  .loginbtn {
   
    background: linear-gradient(to bottom, rgb(239,162,32), rgb(244, 159, 11));
    color: white;
    border: none;
    padding: 8px 20px 8px 20px;
    font-size: 15px;
    border-radius: 8px;
    font-family: "Lato", sans-serif; 
  }
  
  .signinbtn {
    /* background-color: rgb(18,46,83); */
    background: linear-gradient(to bottom, rgb(18,46,83), rgb(23, 86, 175));
    color: white;
    border: none;
    padding: 8px 20px 8px 20px;
    font-size: 15px;
    border-radius: 8px;
    font-family: "Lato", sans-serif; 
  }
  .logoutbtn{
    background: linear-gradient(to bottom, rgb(18,46,83), rgb(23, 86, 175));
    color: white;
    border: none;
    padding: 8px 20px 8px 20px;
    font-size: 15px;
    border-radius: 8px;
    font-family: "Lato", sans-serif;
  }
.userProfile{
  display: flex;
  height: auto;
  
  height: auto;
  align-items: center;
}
  .userName{
   
    margin-right: 20px;
    color: rgb(18,46,83);
    font-size: small;
    
    align-items: center;
   
  }


  @media screen and (max-width: 600px) {

    .logobox {
      width: 180px;
      margin-left: 5px;
    }

    .ButtonBox {
      margin-right: 5px;
    }
    .logo_navbar {
      width: 90%;
    }
    .logoutbtn{
      padding: 5px 10px 5px 10px;
      font-size: 10px;
    }
    .loginbtn {
      padding: 5px 10px 5px 10px;
      font-size: 10px;
    }

    .signinbtn {
      padding: 5px 10px 5px 10px;
      font-size: 10px;
    }

    .userProfile{
      display: flex;
      margin: auto;
    }
    .userName{
     margin-bottom: 2px;
     font-size: 10px;
    }
  }