.register_logo {
    width: 350px;
    margin: auto;
    margin-bottom: 30px;
    /* border: 1px solid blue; */
  }
  
  .register_container {
    display: flex;
  
    margin: auto;
    /* border: 1px solid red; */
    width: 50%;
    margin-top: 50px;
  }
  .register_form {
    /* border: 1px solid rgb(51, 255, 0); */
    display: flex;
  
    margin: auto;
  
    padding: 50px;
    flex-direction: column;
    justify-content: center;
  }
  .register_input {
    width: 100%;
  
    margin: auto;
    text-align: center;
    height: 30px;
    font-size: medium;
    margin-top: 15px;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 5px;
    font-family: "Lato", sans-serif;
  }
  .register_input::placeholder {
    font-size: medium;
  }
  
  .register_input:focus {
    outline: none !important;
    border-color: rgb(247, 247, 247);
    box-shadow: 0 0 10px rgb(202, 202, 202);
  }
  
  .register_btn {
    background: linear-gradient(to bottom, rgb(18, 46, 83), rgb(23, 86, 175));
    color: white;
  
    border: none;
    font-size: large;
  
    padding: 10px 20px 10px 20px;
    width: 50%;
    margin: auto;
    border-radius: 5px;
    font-family: "Lato", sans-serif;
    transition: transform 0.2s ease-in-out; /* Add a smooth transition */
  }
  .register_btn:hover {
    transform: scale(1.1); /* Scale by 10% on hover */
  }
  
  .btnbox_1 {
    margin-top: 25px;
  }
  
  .login_link {
    text-decoration: none;
    color: rgb(18, 46, 83);
  }
  
  .register_span {
    margin-top: 5px;
  }
  
  @media screen and (max-width: 1000px) {
    /* Your CSS rules for screens less than 768px wide go here */
  
    .register_container {
      width: auto;
    }
    .register_input {
      font-size: small;
      width: 100%;
    }
    .register_input::placeholder {
      font-size: small;
    }
    .register_btn {
      font-size: medium;
    }
    .register_logo {
      width: 350px;
    }
    .selectbox {
      width: 100%;
    }
    .register_span {
      font-size: small;
    }
    /* Add more styles as needed */
  }
  
  @media screen and (max-width: 500px) {
    .register_container {
      width: auto;
    }
    .register_input {
      font-size: small;
      width: 100%;
    }
    .register_input::placeholder {
      font-size: small;
    }
    .register_btn {
      font-size: medium;
    }
    .register_logo {
      width: 250px;
    }
    .selectbox {
      width: 100%;
    }
    .register_span {
      font-size: small;
    }
  }
  